{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sindex.css' %}">
    <title>shop</title>
       
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">shopweb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="shopindex">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sabout">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="scontact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="stracker">Tracker</a>
      </li>
      
     
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-warning mx-2" id="popcart"
     data-container="body" data-toggle="popover" data-placement="bottom" 
     data-html="true" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        cart(<span id="cart"></span>)
      </button>
    
  </div>
</nav>
{% block js %}
{% endblock %}



