{% load static %}
<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/features.css' %}">
    <script src="https://kit.fontawesome.com/093d6998f5.js" crossorigin="anonymous"></script>
  </head>
<body>
      
<div class=>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class=" mb-2 mb-lg-0 text-white text-decoration-none">
<svg class="bi me-2" width="40" height="32" role="img"  aria-label="Bootstrap" ><use  a href="hompage">
  <img src="{% static 'image/logo.png' %}" alt="logo"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
            
              <li><a href="features" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="experties" class="nav-link px-2 text-white">Experties</a></li>
              <li><a href="gallery" class="nav-link px-2 text-white">Our Gallery</a></li>
              <li><a href="contactus" class="nav-link px-2 text-white">Contact us</a></li>
              <li><a href="myprojects" class="nav-link px-2 text-white">My Project's</a></li>
            </ul>

    
            <div class="text-end">
              <a href="login"><button  type="button" class="btn btn-outline-warning me-2">Login</button></a>
              <a href="signup"><button type="button" class="btn btn-info">Sign-up</button></a>
            </div>
          </div>
        </div>
      </header>


  
