{% extends 'include/base.html' %}
{% block childblock %}
{% load static %}
<script>
  window.location="/shop";
</script>
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">our best projects by using PYTHON, DJANGO, HTML, CSS, JAVASCRIPT, JQUERY, GITHUB, GIT, SQLITE3, MYSQL, POSTGRESQL</p>
    <hr class="my-4">
    <p>Here are some basic projects for django | learn a  you will definitely expert on django after study </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/shop" role="button">Shop</a>
    
        <a class="btn btn-primary btn-lg" href="/blog" role="button">blog</a>

        <a class="btn btn-primary btn-lg" href="/todo_app" role="button">todo</a>
      </p>
  </div>



{% endblock %}