{% extends 'include/base.html' %}
{% block childblock %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
</head>
<body >
<div id="body-box">
<div class="login-box">
  <h2>sign up</h2>
  <form method="post">
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
        <input type="email" name="email" required="">
        <label>Enter your mail</label>
      </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
    <div class="user-box">
      <input type="tel" name="contact" required="">

      <label>contact</label>
    </div>
  <div class="user-box">
    <input type="file"  name="image" required="">
    <label> </label>
  </div>

  <div class="user-box">
      
  <select name="roll_name" id="" required="">
    <option value="" disabled selected hidden ></option>
    <option value="user">User</option>
    <option value="faculty">Faculty</option>
    <option value="student">Student</option>
  </select>
      <label>Rollname</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input type="submit" value="signup">
    </a>
    <div class="flt"><a href="login">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Login
    </a> </div>
  </form>
 <div style="color: blanchedalmond;"> {{ output }}</div>
</div>
</div> <br/>


<br/><br/>
<br/>
<br/>
<br/>


   
</body>
</html>
{% endblock %}